* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.header-body {
  color: green;
  padding: 20px;
}

.form-group {
  font-size: 17px;
}

.addBtn {
  text-align: center;
  margin-left: -150px;
}

#amount::placeholder {
  font-size: 19px;
}

tr:nth-child(2n) {
  background-color: #f2f2f2;
}


.total-btn {
  text-align: center;
  margin-left: -130px;
}


.del {
  float: right;
}
